In [74]:
import pandas as pd
#loading dataset to web
# on reading csv files an object of datafrme will be returned and we have to malnipulate only with that dataframe.
df=pd.read_csv('weather.csv')
df.head(3)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes

In [24]:
# lets creat a dataset
weather_data=[('11/01/2017','32','6','Rain'),('12/01/2017','38','7','Sunny'),('13/01/2017','3','1','Snow')]
# DataFrame is one datastructure in pandas which will read from a file and cretae a dataframe datastructure.
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','rain'])
print(df.head())
#slicing is also possible
print("*********Slicing**********")
print(df[0:1])
print("**********Shape*********")
print(df.shape)
print("*********Columns**********")
print(df.columns)

          day temperature windspeed   rain
0  11/01/2017          32         6   Rain
1  12/01/2017          38         7  Sunny
2  13/01/2017           3         1   Snow
*********Slicing**********
          day temperature windspeed  rain
0  11/01/2017          32         6  Rain
**********Shape*********
(3, 4)
*********Columns**********
Index(['day', 'temperature', 'windspeed', 'rain'], dtype='object')

In [25]:
# individual columns can also be printed
print(df['day'])

0    11/01/2017
1    12/01/2017
2    13/01/2017
Name: day, dtype: object

In [30]:
print(df['temperature'].max())

38

In [32]:
# describes is an beautiful attribute present with datafrmane datastructure.
df.describe()

               day temperature windspeed  rain
count            3           3         3     3
unique           3           3         3     3
top     13/01/2017          32         6  Snow
freq             1           1         1     1

In [33]:
# describe can be used this way as well
# so we can get many other things like max, min ,mean,eetc using this.
df['temperature'].describe()

count      3
unique     3
top       32
freq       1
Name: temperature, dtype: object

In [52]:
df=pd.read_excel('B.Tech. 5th sem. End Sem Exam Result.xls')
df=df[4:]
print(df.head(5))
print(df.shape)

      Reg No.   A  Unnamed: 2   B  Unnamed: 4   C  Unnamed: 6   D  Unnamed: 8  \
1  16-1-1-001  AA        10.0  AA        10.0  AA        10.0  AA        10.0
2  16-1-1-002  AB         9.0  AB         9.0  BB         8.0  AB         9.0
3  16-1-1-004  CD         5.0  BC         7.0  CC         6.0  CC         6.0
4  16-1-1-005  BB         8.0  BB         8.0  AB         9.0  BB         8.0
5  16-1-1-006  BB         8.0  AB         9.0  AA        10.0  BB         8.0

    E         ...            H Unnamed: 16  Unnamed: 17   SPI  Unnamed: 19  \
1  AA         ...           AA        10.0          398  9.95          347
2  BB         ...           BB         8.0          346  8.65          315
3  CD         ...           AB         9.0          252   6.3          192
4  BC         ...           BB         8.0          324   8.1          259
5  AA         ...           AB         9.0          358  8.95          284

  Unnamed: 20  Unnamed: 21 Unnamed: 22    CPI                 NAME
1         394          370         384  9.465     Ashesh Choudhury
2         334          348         336  8.395  Ridon Prasad Kakoti
3         144          156         172   4.58              Praveen
4         212          274         296  6.825         Ashish Borah
5         282          304         332    7.8   Rupjilika Timungpi

[5 rows x 25 columns]
(100, 25)

In [ ]:
# we can concatnate two dataset second will be at the bottom.
# we can merge two dataframe as well. Here we have to pass argument on which merge is going to happen

In [73]:
# numerical indexing in pandas
df=pd.DataFrame([1,5,3,9,6,4,78,5,8,98])
index=[10,9,8,7,6,5,4,3,2,1]
print(df.iloc[1])

0    5
Name: 1, dtype: int64